@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.home-container{
    width: 100%;
    background-color: #9471DF;
    border-radius: 0 120px;
    min-height: 90vh;
}

.start-box{
    width: 30%;
    border: 4px solid white;
    border-radius: 0 30px;
    text-align: center;
    margin: 4em auto;
    padding: 1em;
}

#startTitle{
    color: #fff;
    font-size: 24px;
}

#playArrow{
    color: #fff;
    margin: 1em 0;
    font-size: 26px;
    cursor: pointer;
    text-shadow: 2px 2px 12px #2E3A59;
}

#playArrow:hover{
    color: #48DEA8;
    transition: 500ms;
}

.nav-box{
    width: 100%;
}

.nav-button{
    background-color: #9471DF;
    margin: 1em auto;
    border: 2px solid #fff;
    border-radius: 0 15px;
    width: 25%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 15px #2E3A59;
}